/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

/* FONDO */
body{
    background:#0f0f0f;
    color:white;
}

/* CONTENEDOR */
.container{
    display:flex;
}

/* MENÚ VERTICAL */
.sidebar{
    width:250px;
    height:100vh;
    background:linear-gradient(180deg, #00ff66, #000000);
    position:fixed;
    left:0;
    top:0;
    padding:20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:30px;
    color:black;
    background:#00ff66;
    padding:10px;
    border-radius:10px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    margin:15px 0;
}

.sidebar ul li a{
    text-decoration:none;
    color:white;
    display:block;
    padding:10px;
    border-radius:8px;
    transition:0.3s;
}

/* HOVER VERDE */
.sidebar ul li a:hover{
    background:#00ff66;
    color:black;
}

/* CONTENIDO PRINCIPAL */
.main{
    margin-left:270px;
    padding:20px;
}

/* HEADER */
.header{
    text-align:center;
    padding:20px;
    background:#111;
    border-radius:10px;
}

/* HERO */
.hero{
    text-align:center;
    margin:20px 0;
}

/* INFO */
.info{
    background:#111;
    padding:20px;
    border-radius:10px;
    margin:20px 0;
}

.info ul{
    margin-top:10px;
    padding-left:20px;
}

/* CARDS */
.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    margin-top:20px;
}

.card{
    background:#1a1a1a;
    padding:15px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px #00ff66;
}

.card img{
    width:100%;
    border-radius:10px;
}

.card button{
    margin-top:10px;
    padding:8px 15px;
    border:none;
    background:#00ff66;
    color:black;
    border-radius:8px;
    cursor:pointer;
}

/* FOOTER */
footer{
    text-align:center;
    margin-top:30px;
    padding:10px;
    background:#111;
    border-radius:10px;
}


/* CONTENEDOR HERO GENERAL */
.hero-container{
    margin:20px 0;
}

/* CAJA DESTACADA */
.hero-box{
    display:flex;
    align-items:center;
    gap:20px;
    background:linear-gradient(135deg, #00ff66, #0f0f0f);
    padding:25px;
    border-radius:15px;
    box-shadow:0 0 15px #00ff66;
}

/* TEXTO DEL HERO */
.hero-text h2{
    font-size:28px;
    color:white;
    margin-bottom:10px;
}

.hero-text p{
    color:#eaeaea;
    font-size:16px;
    line-height:1.5;
}

/* LOGO MEJOR PRESENTADO */
.hero-box img{
    background:white;
    padding:10px;
    border-radius:15px;
}
.btn-vermas{
    display:inline-block;
    margin-top:10px;
    padding:8px 15px;
    background:#00ff66;
    color:black;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:0.3s;
}

.btn-vermas:hover{
    background:#00cc55;
}